{
  "extends": ["html-validate:recommended"],
  "rules": {
    "attribute-Deprecated": "off",
    "no-inline-style": "off",
    "script-type": "off",
    "require-sri": "off",
    "td-colspan": "off"
  }
}